<h2>Viewing Comment</h2>

<p><%= @comment.body %></p>

<p>Posted by <%= @comment.author.username %> - <em><%= time_ago_in_words(@comment.created_at)  + " ago" %></em>

<h4>Comment on this Comment</h4>
<form action="<%= comments_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="comment[link_id]" value="<%= @link.id %>">
	<input type="hidden" name="comment[parent_id]" value="<%= @comment.id %>">

	<label for="comment_body">Comment Body</label>
	<br />
	<textarea id="comment_body" name="comment[body]"></textarea>

	<br />

	<input type="submit" value="Create Comment">
</form>