<h2><%= @link.title %></h2>

<p><em><%= @link.url %></em></p>

<p><%= @link.body %></p>

<h4>Comments</h4>
<ul>
	<% @comments.where( :parent_id => nil ).each do |comment| %>
		<%= render :partial => 'comment', :object => comment, :locals => {
			:already_rendered => @already_rendered
		} %>
	<% end %>
</ul>

<h4>Add Comment</h4>
<form action="<%= comments_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="comment[link_id]" value="<%= @link.id %>"

	<label for="comment_body">Comment Body</label>
	<br />
	<textarea id="comment_body" name="comment[body]"></textarea>

	<br />

	<input type="submit" value="Create Comment">
</form>